* {
  font-family: 'Oswald', sans-serif;


}


#nav {
  z-index: 1;
  position: fixed;
  background: #2196F3;
  height:10vh;
  width:100%;
  margin-left: -10px;
  margin-top: -20px;
  box-shadow: 2px 2px 2px grey;

}

#nav h2 {
  position: absolute;
  font-family: sans-serif;
  color: #FFFFFF;
  left: 3%;
  font-weight: lighter;
  font-size: 4vh;
}

#nav ul {
  position: fixed;
  width:400px;
  margin-top:2%;
  right: 3%;
}

#nav li, a {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 10%;
  display: inline-block;
  cursor: pointer;
}

.displays {
  width:101%;
  left: -7px;
}

#projects section {
  padding-top: 7%;
  display: flex;
}

#projects h2 {
  font-size: 70px;
  margin-top: 0%;
}

#projects img{
  width: 27vw;
  border:1px solid black;
  box-shadow: 2px 2px 2px grey;
  opacity: .9;
  margin-bottom:3%;

}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nagB, #happyB, #cookB, #yahtzeeB, #searchB {
  position: relative;
  display: inline-block;
  text-align: left;
  width:28vw;
}

#imgContainer {
  display: flex;
  vertical-align: top;
  flex:2;
}

#textContainer {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  width:28vw;
  margin-left: -25%;
}

#projects section div ul{
  display: inline-block;
  text-align: left;
  padding-left: 0;
}

#projects section div li{
  display: block;
}

#nag, #cook, #happy, #search {
  position: relative;
  margin-left: 3%;
  vertical-align: top;
  display: none;
  width: 30vw;
}


#default-img {
  box-shadow: 5px 5px 5px grey;
  opacity: 1;
}

#yahtzee {
  position: relative;
  margin-left: 3%;
  vertical-align: top;
  width: 30vw;
}

#bio {
  text-align: left;
}

#bio p {
  /*top: 30%;*/
  width: 40vw;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.about-me {
  flex: 1;
  text-align: right;
}

.about-me img {
  width: 15vw;
  border: 3px #B6B6B6 solid;
  border-radius: 150px;
  box-shadow: 2px 2px 2px grey;
  margin-right: 15%;

}

#contact {
  background: #2196F3;
  text-align: center;
  box-shadow: 2px 2px 2px grey;
  width: 103%;
  display: flex;
  align-items: center;
  height: 15vh;
  margin-left: -2%;
}



#contact div{
  flex: 1;
}

#contact img{
  width:4vw;
  margin: 4%;
}



a{
  text-decoration: none;

}

#number {
  position:absolute;
  color: white;
  width: 400px;
  top:-17%;
  left:27%;
}

#number li{
  margin:0;
  padding:6%;
  width:100px;

}

.mobileDesc {
  display: none;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
   {
    body {
      text-align: center;
    }
    #nav ul {
      display: none;
    }
    #projects {
      display: block;
      width: 50vw;
    }
    #projects img{
      display: inline-block;
      width: 65vw;
      opacity: 1;
    }
    #about img {
      display: block;
      margin-left: 25%;
      width: 50vw;
    }

    #nav h2 {
      left:5%;
    }

    #nav {
      height: 12vh;
    }
    #bio {
      width: 50%;
      display: block;
      margin-top: 15%;
      margin-left: 15%;
    }
    #bio p {
      top: 30%;
      width: 70vw;
    }
    .mobileDesc {
      display: inline-block;
      }


    .mobileDesc p, .mobileDesc h3 {
      width: 70vw;
    }

    .mobileDesc h3 {
      margin-top: 15%;
      text-align: left;
    }
}









