* {
  font-family: 'Oswald', sans-serif;
}

body {
  margin:0;
  background-color: #212121;
}

#nav {
  z-index: 1;
  position: fixed;
  height:10vh;
  width:99.5%;
  border: 2px solid  #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}



.nav-items {
  flex:1;
  display: flex;
  justify-content: flex-end;
}


.title {
  flex: 1;
  display: flex;
  align-items: center;
}

.title h2 {
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 4vh;
  padding-left: 5%;
  display: block;
  width: 100%;
  margin: auto 0;
}

/*#nav ul {
  position: fixed;
  width:400px;
  margin-top:2%;
  right: 3%;
}*/

.nav-link {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: lighter;
  margin-right: 5%;
  display: inline-block;
  cursor: pointer;
}

.landing {
  padding-top: 10vh;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.landing > h1 {
  color: #fff;
  position: absolute;
}

.main-grid-blocks {
  width: 25%;
  height: calc(100% / 3);
  border: 2px solid black;
  box-sizing: border-box;
}

.displays {
  width:100%;
}

#projects {
    width: 100%;
    background-position: center center;
    padding: 10vh 0px;
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    -ms-flex-align: end;
    -webkit-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    color: white;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    font-style: normal;
    width: calc(100% / 3);
    height: 41vh;
    max-height: 450px;
}


.flakebot {
  background-image: url("http://i.imgur.com/5lPYEMt.jpg");
}
.netflix {
  background-image: url("http://i.imgur.com/fajML5u.jpg");
}
.happy-hour {
  background-image: url("http://i.imgur.com/97bBVoJ.jpg");
}
.cookit {
  background-image: url("http://i.imgur.com/qHuldpz.jpg");
}
.words {
  background-image: url("http://i.imgur.com/0KsHoPE.jpg");
}
.sunny {
  background-image: url("http://i.imgur.com/1Pn5stP.jpg");
}


.project-image {
    position: absolute;
    opacity: .3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 4s ease;
    transition: -webkit-transform 4s ease;
    transition: transform 4s ease;
    transition: transform 4s ease, -webkit-transform 4s ease;
    background-position: center center;
    background-size: cover;
}


.project-text-container {
    width:100%;
    padding:0px;
    margin:0;
    position:relative;
    z-index: 1;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */

}
.project-text {
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    margin: 0;
    padding: 50px 0 0 20px;
    z-index: 1;
    color: #fff;
    width: 100%;
}



.project-detail-text{
  position: absolute;
  border: 2px solid #fff;
  border-radius: 30px;
  bottom:0px;
  display: none;
  color: #fff;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  z-index: 1;
  padding: 0 20px;
}







.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nagB, #happyB, #cookB, #yahtzeeB, #searchB, #iasipB{
  position: relative;
  display: inline-block;
  text-align: left;
  width:28vw;
}

#imgContainer {
  display: flex;
  vertical-align: top;
  flex:2;
}

#textContainer {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  width:28vw;
  margin-left: -25%;
}

#projects section div ul{
  display: inline-block;
  text-align: left;
  padding-left: 0;
}

#projects section div li{
  display: block;
}

#nag, #cook, #happy, #search, #iasip {
  position: relative;
  margin-left: 3%;
  vertical-align: top;
  display: none;
  width: 30vw;
}


#default-img {
  box-shadow: 5px 5px 5px grey;
  opacity: 1;
}

#yahtzee {
  position: relative;
  margin-left: 3%;
  vertical-align: top;
  width: 30vw;
}

#bio {
  text-align: left;
}

#bio p {
  /*top: 30%;*/
  width: 40vw;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.about-me {
  flex: 1;
  text-align: right;
}

.about-me img {
  width: 15vw;
  border: 3px #B6B6B6 solid;
  border-radius: 150px;
  box-shadow: 2px 2px 2px grey;
  margin-right: 15%;

}

#contact {
  background: #2196F3;
  text-align: center;
  box-shadow: 2px 2px 2px grey;
  width: 100%;
  display: flex;
  align-items: center;
  height: 15vh;
  margin-left: -2%;
}



#contact div{
  flex: 1;
}

#contact img{
  width:4vw;
  margin: 4%;
}



a{
  text-decoration: none;
  margin-left:20px;

}

#number {
  position:absolute;
  color: white;
  width: 400px;
  top:-17%;
  left:27%;
}

#number li{
  margin:0;
  padding:6%;
  width:100px;

}

.mobileDesc {
  display: none;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
   {
    body {
      text-align: center;
    }

    #textContainer {
      display: none;
    }

    #imgContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    #nav ul {
      display: none;
    }

    #projects {
      margin-left: 15%;
      padding-top: 5%;
    }

    #projects img{
      display: inline-block;
      width: 65vw;
      opacity: 1;
    }

    #about {
      margin-top: 20%;
      display: flex;
      flex-direction: column;
    }

    #about img {
      width: 50vw;
    }

    #nav h2 {
      left:5%;
    }

    #nav {
      height: 12vh;
    }

    #bio {
      text-align: center;
    }

    #bio p {
      width: 70vw;
    }

    #contact img{
      width: 15vw;
    }

    .mobileDesc {
      display: inline-block;
      }


    .mobileDesc p, .mobileDesc h3 {
      width: 70vw;
    }

    .mobileDesc h3 {
      margin-top: 15%;
      text-align: left;
    }
}









